body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1c1818;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-weight: 500;
}

ul {
  list-style: none;
  padding: 15px;
  padding-left: 75px;
}

li {
  font-size: 25px;
  font-family: cursive;
  cursor: pointer;
}

div {
  margin: 0 auto;
  width: 50%;
  padding: 5px;
}

button, input {
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #16047a;
  width: 30%;
  box-sizing: border-box;
}

button {
  background-color: orange;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #ff9900;
}



.todo-list-container {
  background-image: url("https://pre00.deviantart.net/25c4/th/pre/i/2013/169/f/c/yellow_lined_paper_by_andie200-d69jqez.png");
  min-height: 200px;
  padding-top: 35px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.linethrough {
  text-decoration: line-through;
}







.under-the-sea {
  background-image: url("https://i.ytimg.com/vi/_vpaLmarOEs/maxresdefault.jpg");
}

.forest {
  background-image: url("https://static.pexels.com/photos/158251/forest-the-sun-morning-tucholskie-158251.jpeg")
}

.mountains {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d1/Mount_Everest_as_seen_from_Drukair2_PLW_edit.jpg")
}

.desert {
  background-image: url("https://img.purch.com/rc/696x392/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzAzMC85NzIvb3JpZ2luYWwvc2h1dHRlcnN0b2NrXzkzNDA0Mjg3LmpwZw==")
}

.volcano {
  background-image: url("https://www.thesun.co.uk/wp-content/uploads/2017/02/nintchdbpict0002990093241.jpg?strip=all&w=960")
}

.baseball {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/8d/Citi_Field_2011.JPG")
}
